<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/src/scss/custom-bootstrap.scss" />

    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <main>
      <!-- reusable components -->
      <%= require('html-loader!../partials/header.html').default %>

      <header class="header-main">
        <h1 class="text-capitalize text-center">öne çıkanlar</h1>
      </header>
      <form>
        <div class="container mb-5 border border-rounded border-info">
          <div class="row mt-5 g-3 justify-content-evenly">
            <div class="col-sm-6 col-md-5">
              <div class="card text-center">
                <img
                  src="<%= require('../images/cocuk1.webp') %>"
                  class="card-img-top"
                  alt="Ürün"
                  height="500.54px"
                />
                <div class="card-body">
                  <h5 class="card-title mt-2">Mango</h5>
                  <p class="card-text">Pijama</p>
                  <p class="card-text">150TL</p>
                </div>
                <div class="card-button text-center">
                  <button
                    type="submit"
                    class="btn btn-success"
                    formaction="login.html"
                  >
                    Ekle
                  </button>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-5">
              <div class="card text-center mb-5">
                <img
                  src="<%= require('../images/cocuk2.jpeg') %>"
                  class="card-img-top"
                  alt="Ürün"
                  height="500.54px"
                />
                <div class="card-body">
                  <h5 class="card-title mt-2">Zara</h5>
                  <p class="card-text">Takım</p>
                  <p class="card-text">150TL</p>
                </div>
                <div class="card-button text-center">
                  <button
                    type="submit"
                    class="btn btn-success"
                    formaction="login.html"
                  >
                    Ekle
                  </button>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-5">
              <div class="card text-center mb-5">
                <img
                  src="<%= require('../images/cocuk3.jpg') %>"
                  class="card-img-top"
                  alt="Ürün"
                  height="500.54px"
                />
                <div class="card-body">
                  <h5 class="card-title mt-2">Bershka</h5>
                  <p class="card-text">Jean</p>
                  <p class="card-text">200TL</p>
                </div>
                <div class="card-button text-center">
                  <button
                    type="submit"
                    class="btn btn-success"
                    formaction="login.html"
                  >
                    Ekle
                  </button>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-5">
              <div class="card text-center mb-5">
                <img
                  src="<%= require('../images/cocuk4.jpg') %>"
                  class="card-img-top"
                  alt="Ürün"
                  height="500.54px"
                />
                <div class="card-body">
                  <h5 class="card-title mt-2">Mavi</h5>
                  <p class="card-text">Elbise</p>
                  <p class="card-text">250TL</p>
                </div>
                <div class="card-button text-center">
                  <button
                    type="submit"
                    class="btn btn-success"
                    formaction="login.html"
                  >
                    Ekle
                  </button>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-5">
              <div class="card text-center mb-5">
                <img
                  src="<%= require('../images/cocuk5.jpg') %>"
                  class="card-img-top"
                  alt="Ürün"
                  height="500.54px"
                />
                <div class="card-body">
                  <h5 class="card-title mt-2">Bershka</h5>
                  <p class="card-text">Takım</p>
                  <p class="card-text">250TL</p>
                </div>
                <div class="card-button text-center">
                  <button
                    type="submit"
                    class="btn btn-success"
                    formaction="login.html"
                  >
                    Ekle
                  </button>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-5">
              <div class="card text-center mb-5">
                <img
                  src="<%= require('../images/cocuk6.jpeg') %>"
                  class="card-img-top"
                  alt="Ürün"
                  height="500.54px"
                />
                <div class="card-body">
                  <h5 class="card-title mt-2">Stradivarius</h5>
                  <p class="card-text">Takım</p>
                  <p class="card-text">250TL</p>
                </div>
                <div class="card-button text-center">
                  <button
                    type="submit"
                    class="btn btn-success"
                    formaction="login.html"
                  >
                    Ekle
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>

      <%= require('html-loader!../partials/footer.html').default %>
    </main>
  </body>
</html>
