<link rel="stylesheet" href="/src/scss/custom-bootstrap.scss" />

<footer class="footer d-flex justify-content-center">
  <div class="container" style="margin-top: 100px">
    <div class="row text-light">
      <div class="col-4">
        <h2>Trendyol</h2>
        <ul>
          <li>Biz Kimiz</li>
          <li>Kariyer</li>
          <li>İletişim</li>
          <li>Trendyol'da Satış Yap</li>
          <li>Kurumsal Hediye Çeki</li>
        </ul>
      </div>
      <div class="col-4">
        <h2>About Us</h2>
        <ul>
          <li>Who we are?</li>
          <li>Careers</li>
          <li>Contact us</li>
        </ul>
      </div>

      <div class="col-4">
        <h2>Kampanyalar</h2>

        <ul>
          <li>Aktif Kampanyalar</li>
          <li>Hediye Fikirleri</li>
          <li>Trendyol Fırsatları</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
